.glyphsSpriteSave__outline__24__grey_9, .glyphsSpriteSearch__filled__24__grey_9{
  background-repeat: no-repeat;
    background-position: -215px -130px;
    height: 24px;
    width: 24px;
}
.glyphsSpriteSave__filled__24__grey_9{
background-position: -215px -52px;
}
.u-__7 {
    display: block;
}